/***** Menu styling *****/
.hero {
  background: linear-gradient(to top left, #fff9f0 0%, #000567 94%, #000567 100%);
}

.nav_section {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin-bottom: 14vh;
  z-index: 10;
}

.logo img {
  width: 70px;
  height: 70px;
}

nav {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-right: 30px;
}

.menu li {
  margin-right: 20px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu a {
  display: block;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 35px;
  padding-right: 35px;
  font-weight: 700;
}

.log_in {
  color: #1c23b2;
  text-decoration: none;
  transition: color 0.3s;
  text-align: end;
  border: 1px solid #f3dcde;
  border-radius: 30px;
  background-color: #f3dcde;
}

.log_in:hover {
  color: #f3dcde;
  background-color: #1c23b2;
  border: 1px solid #1c23b2;
  transition: color 0.4s;
}

.sign_up {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  color: #f3dcde;
  text-decoration: none;
  transition: color 0.3s;
  text-align: end;
  border: 1px solid #1c23b2;
  border-radius: 30px;
  background-color: #1c23b2;
}

.sign_up:hover {
  color: #1c23b2;
  border: 1px solid #f3dcde;
  background-color: #f3dcde;
  transition: color 0.4s;
}

.burger {
  width: 25px;
  height: 20px;
  cursor: pointer;
}

.burger .line {
  width: 100%;
  height: 2px;
  background-color: #fff9f0;
  margin-bottom: 5px;
  transition: 0.2s linear;
}
.burger {
  display: none;
}
@media screen and (max-width: 800px) {
  .menu {
    display: none;
  }
  .burger {
    display: block;
  }
  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    transition: 0.2s linear;
  }

  .burger.active .line:nth-child(2) {
    opacity: 0;
    transition: 0.15s linear;
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    transition: 0.2s linear;
  }

  nav.active .menu {
    display: block;
    position: absolute;
    top: 94px;
    left: 0;
    width: 100%;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }

  nav.active .menu li {
    margin: 10px 20px;
  }

  nav.active .menu a {
    font-size: 24px;
  }

  .log_in,
  .sign_up {
    text-align: center;
  }
}

/***** Hero section styling *****/

.hero {
  padding-left: 2vw;
  padding-right: 2vw;
}

h1 {
  font-size: clamp(5rem, 9vw, 9rem);
  text-align: center;
  color: #3e4088;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.logo_hero {
  position: relative;
}

.mini_logo {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50px;
  right: 15vw;
}

.text {
  padding-bottom: 10vh;
}

.cta_button {
  display: block;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 35px;
  padding-right: 35px;
  color: #fff9f0;
  text-decoration: none;
  transition: color 0.3s;
  text-align: end;
  border: 1px solid #1c23b2;
  border-radius: 30px;
  background-color: #1c23b2;
  margin-top: 2vh;
  font-weight: 600;
}

.hero_box {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-top: 12vh;
  padding-right: 10vw;
}

.text_gradient {
  background: linear-gradient(90deg, #fff9f0 49%, #1c23b2 59%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: clamp(1.1rem, 2vw, 2.5rem);
}

.arrow {
  height: 45px;
  width: 45px;
  margin-top: 4vh;
  margin-left: auto;
  margin-right: auto;
}

/***** CTA section styling *****/

.info,
.cta_section {
  background-color: #fff9f0;
}

.cta_section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 14vh;
  padding-bottom: 14vh;
}

.h2 {
  color: #3c3937;
  font-size: clamp(2rem, 3vw, 3rem);
  margin-left: 4vw;
}

.app_image {
  margin-right: 4vw;
  height: 300px;
  width: 240px;
  place-self: center;
}

.preferences {
  margin-left: 4vw;
  margin-top: 1.2vh;
  font-size: 1.1rem;
  color: #6e6e6e;
}

.date {
  margin-left: 4vw;
  font-size: clamp(1.2rem, 2vw, 1.5rem);
  margin-top: 6vh;
  color: #1c23b2;
  margin-bottom: 3vh;
}

.big_button {
  display: flex;
  padding-top: 30px;
  padding-bottom: 30px;
  color: #f3dcde;
  transition: color 0.3s;
  justify-content: center;
  border: 1px solid #1c23b2;
  border-radius: 40px;
  background-color: #1c23b2;
  font-weight: 600;
  margin-left: 4vw;
  margin-right: 12vh;
  margin-bottom: 3vh;
  font-size: x-large;
}

/***** Info section styling *****/

.h2_2 {
  color: #3c3937;
  font-size: clamp(1.8rem, 3vw, 3rem);
  margin-left: 4vw;
  word-break: normal;
  text-align: center;
  margin-left: 4vw;
  margin-right: 4vw;
  margin-bottom: 4vh;
  padding-top: 2vh;
}

span {
  color: #1c23b2;
}

.dark_text {
  margin-left: 8vw;
  margin-right: 8vw;
  text-align: center;
  font-size: clamp(1rem, 1.5vw, 1.5rem);
  line-height: 130%;
  margin-bottom: 14vh;
}

.grid1-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-left: 8vw;
  margin-right: 8vw;
  gap: 4vw;
  padding-bottom: 20vh;
}

.centered {
  color: #1c23b2;
  text-align: center;
  margin-bottom: 2.5vh;
}

.centered_text {
  text-align: center;
  font-size: clamp(1rem, 1.2vw, 1.2rem);
  line-height: 140%;
}
