body {
  margin: 0px;
}

.form_container {
  background: linear-gradient(to top left, #fff9f0 0%, #000567 94%, #000567 100%);
  padding-bottom: 45vh;
  padding-top: 6vh;
}

.form_text {
  text-align: center;
  h1 {
    padding-top: 20px;
    font-family: "Abril Fatface", serif;
    font-size: 50px;
    color: white;
    padding-bottom: 8vh;
  }
  p {
    font-family: "universregular", sans-serif;
    font-size: 25px;
    color: white;
    font-style: italic;
  }
}

label,
input,
button {
  display: block;
  margin-top: 25px;
  border-radius: 10px;
  border: 0;
}

input {
  font-family: "universregular", sans-serif;
  border-color: black;
}

form {
  display: grid;
}

form input:focus {
  outline: none;
}

.name,
.email {
  padding: 7px;
  margin-bottom: 10px;
}

.message {
  height: 111px;
  margin-bottom: 20px;
}

.name,
.email,
.message {
  width: 30vw;
  margin-left: auto;
  margin-right: auto;
}

input {
  border: 2px solid #1c23b2;
  border-radius: 50px;
}

.html_form {
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  background: #f7f1ea;
  /* box-shadow: -28px -28px 100px -6px #f7f1ea,
      20px 20px 50px 0px rgba(13, 39, 80, 0.25); */
  width: 40%;
  padding-bottom: 50px;
  margin: auto;
  margin-top: 3vh;
}

button {
  border: 2px solid #1c23b2;
  border-radius: 30px;
  background: #1c23b2;
  text-align: center;
  color: white;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 10px 10px 65px rgba(255, 255, 255, 0.25);
  font-family: "Abril Fatface", serif;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.63px;
  margin-top: 2vh;
}

#submit {
  margin: auto;
}

button:hover {
  transform: scale(1.08);
}
