/* MENU */
header {
  position: sticky;
  top: 0;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  padding-right: 15px;
  align-items: center; /* vertikal centrering */
  font-size: 16px;
  background-color: var(--background-color);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  /* drop shadow */
}
.logo img {
  width: 90px; /* Fast bredde vigtigt*/
  height: auto;
  margin: 5px;
}
.menu {
  display: flex;
  list-style: none;
  padding: 0;
  gap: 60px; /* mellem menupunkterne */
}
.menu a {
  display: flex;
  align-items: center;
  text-decoration: none;
  gap: 5px; /* mellem tekst og ikon */
}
.menu a:hover p {
  color: var(--primary-color);
}
.menu img {
  width: auto;
  height: 40px;
}
.menu .blue {
  display: none;
}
.menu a:hover .blue {
  display: block;
}
.menu a:hover .rosa {
  display: none;
}

/* "APP"-MENU */
@media screen and (max-width: 850px) {
  header {
    display: block;
    position: fixed;
    bottom: 0;
    top: auto; /* Sørger for at den ikke bliver i toppen */
    width: 100%;
    background-color: var(--background-color);
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1); /* drop-shadow */
    padding: 10px 0;
    z-index: 200;
    overflow: hidden;
  }
  .logo {
    display: none;
  }
  .menu a p {
    display: none;
  }
  .menu img {
    height: 55px;
  }
  .menu {
    display: flex;
    justify-content: space-between;
    gap: 0;
    padding: 0 30px;
    width: 100%;
    max-width: 100vw;
  }
}

/* MOBILE FIRST */
.grid_1-1 img {
  height: 500px;
}

main {
  background-color: var(--background-color);
  padding: 0 20px 80px;
}

h1 {
  text-align: center;
  margin: 10px;
}

.intro {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.flex-container {
  display: flex;
  align-items: center;
}

.flex-container img {
  height: 30px;
  width: auto;
  margin-right: 10px;
}
.bold {
  font-family: universbold;
}

h2 {
  margin: 20px 0 5px;
}

/* CTA */
.flex-container2 {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  gap: 12px;
}

.cta {
  background-color: var(--primary-color);
  border-radius: 20px;
  padding: 10px 20px;
  text-align: center;
  width: 100%;
  color: var(--rosa-color);
  text-decoration: none;
  font-weight: bold;
  font-size: 22px;
}
.cta:hover {
  transform: scale(1.08);
}

.cta:nth-child(2) {
  background-color: var(--rosa-color);
  color: var(--primary-color);
}

.col ul {
  list-style: none;
}

.col li {
  margin-bottom: 4px;
}
