/* Reset */
body {
  margin: 0;
  min-height: 100vh; /* Ensures full-page gradient */
  background: linear-gradient(
    to top left,
    #fff9f0 0%,
    #000567 94%,
    #000567 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

/* Form Text */
.form_text {
  text-align: center;
}

.form_text h1 {
  padding-top: 20px;
  font-family: "Abril Fatface", serif;
  font-size: 50px;
  color: white;
}

.form_text p {
  font-family: "universregular", sans-serif;
  font-size: 25px;
  color: white;
}

/* Input & Form */
label,
input,
button {
  display: block;
  margin-top: 25px;
  border-radius: 10px;
  border: 0;
}

input {
  font-family: "universregular", sans-serif;
  border: 2px solid #1c23b2;
  border-radius: 50px;
  padding: 10px;
  width: 100%;
  max-width: 400px; /* Limits input width on larger screens */
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

form input:focus {
  outline: none;
}

.message {
  height: 111px;
  margin-bottom: 20px;
}

/* Form Container */
.html_form {
  border-radius: 25px;
  background: #f7f1ea;
  padding: 40px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.button {
  width: 200px;
  height: 40px;
  border: 2px solid #1c23b2;
  border-radius: 50px;
  background: #1c23b2;
  color: white;
  font-family: "Abril Fatface", serif;
  font-size: 21px;
  cursor: pointer;
}

/* Filter Buttons */
.prefs {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  max-width: 50%;
  margin-top: 1%;
  margin-bottom: 1%;
}

.pref {
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 16px;
  font-weight: bold;
  font-family: "universregular", sans-serif;
  color: var(--primary-color);
  cursor: pointer;
  border: 2px solid var(--primary-color);
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  flex-grow: 1;
  min-width: 100px;
  transition: transform 0.2s ease-in-out;
}

.pref:hover {
  transform: scale(1.08);
}

.university {
  flex-grow: 2;
}

.state,
.city {
  flex-grow: 1.5;
}

.pref.selected {
  background-color: rgba(255, 220, 230, 0.6);
  border: 2px solid var(--primary-color);
}

/* Responsive Design */
@media screen and (max-width: 850px) {
  body {
    padding: 20px;
    align-items: flex-start;
  }

  .html_form {
    width: 90%; /* Form takes most of the screen width */
    padding: 30px;
  }

  .form_text h1 {
    font-size: 40px;
  }

  .form_text p {
    font-size: 20px;
  }

  input {
    max-width: 100%;
  }

  .prefs {
    /* flex-direction: row;
    align-items: center;
    max-width: 20%; */
  }

  .pref {
    flex-grow: unset;
    width: 80%;
    text-align: center;
  }
}
